![Los Angeles skyline](la_skyline.jpg)

Los Angeles, California ðŸ˜Ž. The City of Angels. Tinseltown. The Entertainment Capital of the World! 

Known for its warm weather, palm trees, sprawling coastline, and Hollywood, along with producing some of the most iconic films and songs. However, as with any highly populated city, it isn't always glamorous and there can be a large volume of crime. That's where you can help!

You have been asked to support the Los Angeles Police Department (LAPD) by analyzing crime data to identify patterns in criminal behavior. They plan to use your insights to allocate resources effectively to tackle various crimes in different areas.

## The Data

They have provided you with a single dataset to use. A summary and preview are provided below.

It is a modified version of the original data, which is publicly available from Los Angeles Open Data.

# crimes.csv

| Column     | Description              |
|------------|--------------------------|
| `'DR_NO'` | Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits. |
| `'Date Rptd'` | Date reported - MM/DD/YYYY. |
| `'DATE OCC'` | Date of occurrence - MM/DD/YYYY. |
| `'TIME OCC'` | In 24-hour military time. |
| `'AREA NAME'` | The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles. |
| `'Crm Cd Desc'` | Indicates the crime committed. |
| `'Vict Age'` | Victim's age in years. |
| `'Vict Sex'` | Victim's sex: `F`: Female, `M`: Male, `X`: Unknown. |
| `'Vict Descent'` | Victim's descent:<ul><li>`A` - Other Asian</li><li>`B` - Black</li><li>`C` - Chinese</li><li>`D` - Cambodian</li><li>`F` - Filipino</li><li>`G` - Guamanian</li><li>`H` - Hispanic/Latin/Mexican</li><li>`I` - American Indian/Alaskan Native</li><li>`J` - Japanese</li><li>`K` - Korean</li><li>`L` - Laotian</li><li>`O` - Other</li><li>`P` - Pacific Islander</li><li>`S` - Samoan</li><li>`U` - Hawaiian</li><li>`V` - Vietnamese</li><li>`W` - White</li><li>`X` - Unknown</li><li>`Z` - Asian Indian</li> |
| `'Weapon Desc'` | Description of the weapon used (if applicable). |
| `'Status Desc'` | Crime status. |
| `'LOCATION'` | Street address of the crime. |

In [50]:
# Re-run this cell
#Â Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("crimes.csv", parse_dates=["Date Rptd", "DATE OCC"], dtype={"TIME OCC": str})
crimes.head()

       DR_NO  Date Rptd  ...  Status Desc                                 LOCATION
0  220314085 2022-07-22  ...  Invest Cont  2500 S  SYCAMORE                     AV
1  222013040 2022-08-06  ...  Invest Cont  3300    SAN MARINO                   ST
2  220614831 2022-08-18  ...  Invest Cont                        1900    TRANSIENT
3  231207725 2023-02-27  ...  Invest Cont  6200    4TH                          AV
4  220213256 2022-07-14  ...  Invest Cont  1200 W  7TH                          ST

[5 rows x 12 columns]

In [40]:
# Start coding here
# Use as many cells as you need

### Explore the crimes.csv dataset and use your findings to answer the following questions:

1. Which hour has the highest frequency of crimes? 
2. Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)?
3. Identify the number of crimes committed against victims of different age groups.

### Which hour has the highest frequency of crimes?

In [41]:
# Convert 'TIME OCC' to string format
crimes['TIME OCC'] = crimes['TIME OCC'].astype(str).str.zfill(4)

# Extract the hour from 'TIME OCC'
crimes['HOUR OCC'] = crimes['TIME OCC'].str[:2].astype(int)
crimes[['TIME OCC', 'HOUR OCC']].head()

  TIME OCC  HOUR OCC
0     1110        11
1     1620        16
2     1200        12
3     0635         6
4     0900         9

In [42]:
# Count the frequency of each hour
crimes['HOUR OCC'].value_counts()

12    13663
18    10125
17     9964
20     9579
15     9393
19     9262
16     9224
14     8872
11     8787
0      8728
21     8701
22     8531
13     8474
10     8440
8      7523
23     7419
9      7092
1      5836
6      5621
7      5403
2      4726
3      3943
4      3238
5      3171
Name: HOUR OCC, dtype: int64

In [43]:
# Find the hour with the highest frequency of crimes
peak_crime_hour = crimes['HOUR OCC'].value_counts().idxmax()
print(peak_crime_hour)

12

### Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)?

In [44]:
# Filter for night crimes (between 10 PM and 3:59 AM)
night_crimes = crimes[(crimes['HOUR OCC'] >= 22) | (crimes['HOUR OCC'] <= 3)]
night_crimes.head()

        DR_NO  Date Rptd  ...                                  LOCATION HOUR OCC
8   231207476 2023-02-27  ...   8800    HAAS                         AV        0
10  221711184 2022-06-15  ...   8300    WHITE OAK                    AV        1
30  221314362 2022-07-11  ...   1600 E  OLYMPIC                      BL        0
33  231307252 2023-03-03  ...                          6600 S  BROADWAY       23
36  221614254 2022-11-13  ...  10200    TELFAIR                      AV        0

[5 rows x 13 columns]

In [45]:
# Group by area and count the number of crimes
crime_counts_by_area = night_crimes.groupby('AREA NAME').size()
print(crime_counts_by_area)

AREA NAME
77th Street    2558
Central        3312
Devonshire     1348
Foothill       1260
Harbor         1384
Hollenbeck     1315
Hollywood      2699
Mission        1453
N Hollywood    1855
Newton         2142
Northeast      1684
Olympic        2137
Pacific        1916
Rampart        1860
Southeast      2218
Southwest      2347
Topanga        1461
Van Nuys       1629
West LA        1369
West Valley    1520
Wilshire       1716
dtype: int64

In [46]:
# Find the area with the highest frequency of night crimes
peak_night_crime_location = crime_counts_by_area.idxmax()

print(peak_night_crime_location)

Central

### Identify the number of crimes committed against victims of different age groups

In [47]:
# Define age group boundaries and labels
age_bins = [0, 17, 25, 34, 44, 54, 64, float('inf')]
age_labels = ["0-17", "18-25", "26-34", "35-44", "45-54", "55-64", "65+"]

# Create a new column for age groups
crimes['Age Group'] = pd.cut(crimes['Vict Age'], bins=age_bins, labels=age_labels, right=True)

# Count the number of crimes in each age group
victim_ages = crimes['Age Group'].value_counts()

In [48]:
# Print the result
print(victim_ages)

26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: Age Group, dtype: int64