The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

In [1]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Start coding here!

In [3]:
df = pd.read_csv('data/nobel.csv')
df.sample(5)

     year   category  ...   death_city                                 death_country
939  2019    Physics  ...          NaN                                           NaN
314  1958    Physics  ...       Moscow  Union of Soviet Socialist Republics (Russia)
688  1998  Chemistry  ...  Chicago, IL                      United States of America
91   1918  Chemistry  ...        Basel                                   Switzerland
270  1952    Physics  ...       Zurich                                   Switzerland

[5 rows x 18 columns]

Display a list of all column names and iterate throug to see columns of your data frame

In [4]:
for x in df.columns.tolist():
    print(x)

year
category
prize
motivation
prize_share
laureate_id
laureate_type
full_name
birth_date
birth_city
birth_country
sex
organization_name
organization_city
organization_country
death_date
death_city
death_country

### What is the most commonly awarded gender and birth country

In [10]:
# Most commonly awarded gender
top_gender = df["sex"].value_counts().idxmax()
print(top_gender)

Male

In [11]:
# Most commonly awarded birth country
top_country=df["birth_country"].value_counts().idxmax()
print(top_country)

United States of America

### Decade with the highest ratio of US-born Nobel Prize winners to total winners in all categories

In [12]:
# Convert year to decade
df["decade"] = (df["year"] // 10) * 10

# Count total winners per decade
total_winners = df.groupby("decade")["full_name"].count()

# Count US-born winners per decade
us_winners = df[df["birth_country"] == "United States of America"].groupby("decade")["full_name"].count()

# Calculate ratio
ratio = (us_winners / total_winners).fillna(0)

# Find the decade with the highest ratio
max_decade_usa = int(ratio.idxmax())

print("Decade with highest ratio of US-born Nobel Prize winners:", max_decade_usa)

Decade with highest ratio of US-born Nobel Prize winners: 2000

### Decade and Nobel Prize category combination with the highest proportion of female laureates

In [13]:
# Extract only female laureates
df_female = df[df["sex"] == "Female"]
df_female.sample(5)

     year    category  ...             death_country decade
849  2011       Peace  ...                       NaN   2010
160  1931       Peace  ...  United States of America   1930
586  1988    Medicine  ...  United States of America   1980
998  2023       Peace  ...                       NaN   2020
141  1928  Literature  ...                    Norway   1920

[5 rows x 19 columns]

In [23]:
# count female and totatl laureates per decade and category
counts = df.groupby(["decade", "category"]).size().reset_index(name="total_count")
# counts = df.groupby(["decade", "category"]).size()
female_counts = df_female.groupby(["decade", "category"]).size().reset_index(name="female_count")

In [24]:
# merge the total and female counts:
merged = counts.merge(female_counts, on=["decade", "category"], how="left").fillna(0)
merged.head()

   decade    category  total_count  female_count
0    1900   Chemistry            9           0.0
1    1900  Literature           10           1.0
2    1900    Medicine           11           0.0
3    1900       Peace           14           1.0
4    1900     Physics           13           1.0

In [25]:
# calculate the female proportion
merged["female_ratio"] = merged["female_count"] / merged["total_count"]
merged.sample(5)

    decade category  total_count  female_count  female_ratio
28    1950    Peace            8           0.0      0.000000
53    1990  Physics           22           0.0      0.000000
34    1960    Peace            9           0.0      0.000000
58    2000    Peace           14           2.0      0.142857
3     1900    Peace           14           1.0      0.071429

In [27]:
# find the maximem female ratio
max_row = merged.loc[merged["female_ratio"].idxmax()]
max_female_dict = {int(max_row["decade"]): max_row["category"]}
print(max_female_dict)

{2020: 'Literature'}

### Who was the first woman to receive a Nobel Prize, and what category?

In [29]:
# first year a woman received a Nobel Prize:
first_year = df_female["year"].min()
print(first_year)

1903

In [33]:
# Filter the dataset for this year and extract the name and category:
first_woman = df_female[df_female["year"] == first_year].iloc[0]
first_woman_name = first_woman["full_name"]
first_woman_category = first_woman["category"]
#print(first_woman)
print(first_woman_name)
print(first_woman_category)

Marie Curie, née Sklodowska
Physics

### Which individuals or organizations have won more than one Nobel Prize throughout the years?

In [34]:
# Identify repeat winners
repeat_winners = df["full_name"].value_counts()
print(repeat_winners)

Comité international de la Croix Rouge (International Committee of the Red Cross)    3
Linus Carl Pauling                                                                   2
John Bardeen                                                                         2
Frederick Sanger                                                                     2
Marie Curie, née Sklodowska                                                          2
                                                                                    ..
Karl Ziegler                                                                         1
Giulio Natta                                                                         1
Giorgos Seferis                                                                      1
Sir John Carew Eccles                                                                1
Claudia Goldin                                                                       1
Name: full_name, Length: 993, dtype: int64

In [35]:
# Filter for those who whon more than once (count is greate than 1)
repeat_list = repeat_winners[repeat_winners > 1].index.tolist()
print(repeat_list)

['Comité international de la Croix Rouge (International Committee of the Red Cross)', 'Linus Carl Pauling', 'John Bardeen', 'Frederick Sanger', 'Marie Curie, née Sklodowska', 'Office of the United Nations High Commissioner for Refugees (UNHCR)']